<!DOCTYPE html>
<html>
  <head>
<!-- <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>  -->
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
       <%= yield %>
       <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
